header {
    background-color: rgb(165, 153, 42);
    height: 100%;
    display: flex !important;
    justify-content: space-evenly !important;
}

.navlink {
    font-size: 24px;
    font-weight: bold;
    color: black;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.container {
    max-width: 100% !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: stretch;
}

.cuerpo {
    flex: 1;
    background-image: url(../img/cerveza.jpg);
    background-size: cover;
}

footer {
    display: flex !important;
    justify-content: space-evenly;
    font-weight: bold;
    background-color: rgb(165, 153, 42);
    height: 100%;
    
}

